* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* Page Accueil */
body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(#000851 0%, #0c295f 100%);
    background-position: center;
    background-size: cover;
}
header {
    display: flex;
    justify-content: space-between;
    max-height: 100px;
    min-height: 80px;
}

/* Navbar */
.navbar {
    color: white;
    display: flex;
    text-align: center;
    max-height: 50px;
}
.navbar p {
    color: white;
    display: flex;
    text-align: center;
    margin: 23px 20px 0px 0px;
}
.navbar p a {
    color: white;
    text-decoration: none;
}
.navbar p a:hover {
    color: #e17b32;
}
.container {
    max-height: 50px;
}
.navbar img {
    margin: 10px 120px 0px 10px;
    height: 70px;
    width: 80px;
    border-radius: 15%;
}

/* Barre de recherche */
.search-bar {
    width: 100%;
    max-width: 300px;
    max-height: 50px;
    background: rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px 5px 0px 0px;
}
.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 18px;
    font-size: 15px;
    color: #ffffff;
}
::placeholder {
    color: #ffffff;
}
.search-bar button {
    height: 50px;
    width: 50px;
    padding-left: 5px;
}

/* Texte (titre + description) */
.laplateforme {
    display: inline-block;
    color: rgb(255, 255, 255);
    margin-left: 212px;
    margin-top: 100px;
}
.laplateforme2 {
    display: inline-block;
    color: rgb(127, 153, 187);
    margin-left: 212px;
    margin-top: 15px;
}

/* La Plateforme en chiffres */
.laplateformechiffres {
    display: flex;
    justify-content: center;
    margin: 100px 550px 0px 0px;
    color: #ffffff;
}
.laplateformechiffres:hover {
    color: #e17b32;
    cursor: pointer;
}
.laplateformechiffres2 {
    display: flex;
    justify-content: center;
    margin: 5px 580px 0px 0px;
    color: rgb(127, 153, 187);
    font-size: 16px;
}
.laplateformechiffres p {
    margin: 0px 150px 0px 0px;
}
.laplateformechiffres2 p {
    margin: 0px 100px 0px 0px;
}

/* Cards accueil */
.carreformations {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px 0px 0px;
    border-radius: 50%;
    text-align: center;
}
.carre1 {
    height: 480px;
    width: 300px;
    background-color: #ffffff;
    margin: 50px 0px 0px 0px;
    border-radius: 5%;
}
.carre2 {
    height: 480px;
    width: 300px;
    background-color: #ffffff;
    margin: 50px 0px 0px 0px;
    border-radius: 5%;
}
.carre3 {
    height: 450px;
    width: 300px;
    background-color: #ffffff;
    margin: 50px 0px 0px 0px;
    border-radius: 5%;
}
.carreformations img {
    height: 130px;
    width: 120px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.carreformations p {
    margin: 10px 15px 0px 15px;
    color: #275FA0;
}
.carreformations a {
    text-decoration: none;
}

/* Boutons */
.carreformations button {
    border-radius: 25px;
    background-color: #fff200;
    border: none;
    padding: 10px 24px;
    font-size: 14px;
    margin-top: 15px;
    max-width: 90%;
}
.carreformations button:hover {
    background-color: #f0e40c;
}

/* Qui somme nous */
.qui-sommes-nous {
    display: inline-block;
    color: rgb(255, 255, 255);
    margin-left: 212px;
    margin-top: 100px;
}
.qui-sommes-nous2 {
    display: inline-block;
    color: rgb(127, 153, 187);
    margin-left: 212px;
    margin-top: 15px;
}
.qui-sommes-nous-video {
    width: "530px";
    height: "295px";
    display: flex;
    justify-content: center;
}
.qui-sommes-nous-video iframe{
    padding: 20px 0px 20px 0px;
    margin: 0;
}

/* Plateforme-start */
.title1 {
    text-align: center;
    width: 100%;
    height: 150px;
    background: rgb(255, 255, 255);
    margin: 50px 0px 0px 0px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
}

/* AWS reStart */
.inscription {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin: 100px 0px 0px 0px;
}
.inscription2 {
    display: flex;
    justify-content: center;
}
.inscription2 button {
    background-color: #e17b32;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 22px;
    margin-top: 20px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5%;
}

.rectangleaws {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 35px;
    grid-row-gap: 0px;
    height: 300px;
    width: 100%;
    background-color: #f2f2f2;
    margin: 30px 0px 0px 0px;
    text-align: center;
    align-items: center;
}    
.rectangleaws img {
    height: 120px;
    width: 120px;
}
.awsrestart1 {
    color: #e17b32;
}

/* Page NEWS */
.rectanglenews-1 {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px 0px 0px;
    border-radius: 50%;
}
.rectanglenews1 {
    height: 400px;
    width: 300px;
    background-color: #f2f2f2;
    margin: 50px 0px 0px 0px;
    border-radius: 5%;
}
.rectanglenews2 {
    height: 400px;
    width: 300px;
    background-color: #f2f2f2;
    margin: 50px 0px 0px 0px;
    border-radius: 5%;
}
.rectanglenews3 {
    height: 400px;
    width: 300px;
    background-color: #f2f2f2;
    margin: 50px 0px 0px 0px;
    border-radius: 5%;
}
.rectanglenews-1 img {
    height: 208px;
    width: 300px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.rectanglenews-1 p {
    margin: 10px 15px 0px 15px;
    color: #000;
}
.rectanglenews-1 p:hover {
    color: #e17b32;
}
.rectanglenews a {
    text-decoration: none;
}

.rectanglenews2 img {
    height: 208px;
    width: 300px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.rectanglenews2 p {
    margin: 10px 15px 0px 15px;
    color: #000;
}
.rectanglenews2 p:hover {
    color: #e17b32;
}

.rectanglenews3 img {
    height: 208px;
    width: 300px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.rectanglenews3 p {
    margin: 10px 15px 0px 15px;
    color: #000;
}
.rectanglenews3 p:hover {
    color: #e17b32;
}
.rectanglenews-1 a {
    text-decoration: none;
}

/* 2eme ligne de NEWS*/
.rectanglenews-2 {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px 0px 0px;
    border-radius: 50%;
}
.rectanglenews4 {
    height: 400px;
    width: 300px;
    background-color: #f2f2f2;
    margin: 50px 0px 0px 0px;
    border-radius: 5%;
}
.rectanglenews5 {
    height: 400px;
    width: 300px;
    background-color: #f2f2f2;
    margin: 50px 0px 0px 0px;
    border-radius: 5%;
}
.rectanglenews6 {
    height: 400px;
    width: 300px;
    background-color: #f2f2f2;
    margin: 50px 0px 0px 0px;
    border-radius: 5%;
}
.rectanglenews-2 img {
    height: 208px;
    width: 300px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.rectanglenews4 p {
    margin: 10px 15px 0px 15px;
    color: #000;
}
.rectanglenews-2 p:hover {
    color: #e17b32;
}
.rectanglenews-2 a {
    text-decoration: none;
}

.rectanglenews5 img {
    height: 208px;
    width: 300px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.rectanglenews5 p {
    margin: 10px 15px 0px 15px;
    color: #000;
}
.rectanglenews5 p:hover {
    color: #e17b32;
}

.rectanglenews6 img {
    height: 208px;
    width: 300px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.rectanglenews6 p {
    margin: 10px 15px 0px 15px;
    color: #000;
}
.rectanglenews6 p:hover {
    color: #e17b32;
}
.rectanglenews-2 a {
    text-decoration: none;
}

/* Contact */
iframe {
    margin: 30px 0px 0px 120px;
    height: 450px;
    width: 600px;
}